<?xml version="1.0" encoding="utf-8" ?>
<root>
  <p>

    <ExcelPath>E:\Sourabh_CSharp\repo\Flight_project_multiple\Flight_project_multiple\Test_Data\Flight_data.xlsx</ExcelPath>
    <XMLPath>E:\Sourabh_CSharp\repo\Flight_project_multiple\Flight_project_multiple\Test_Data\Flight_data.xml</XMLPath>

  </p>
</root>